{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Обзор вакансии</title>
    <link rel="stylesheet" href=" {% static 'styles.css' %}">
</head>

<body>
    <header>
        <div class="logo">
            <img src='static/logo.png' alt="Логотип">
        </div>
        <h1>Обзор вакансии</h1>
    </header>

    <nav>
        <ul>
            <li><a href="" class="underline-one">Главная страница</a></li>
            <li><a href="demand.html" class="underline-one">Востребованность</a></li>
            <li><a href="geography.html" class="underline-one">География</a></li>
            <li><a href="skills.html" class="underline-one">Навыки</a></li>
            <li><a href="vacancies.html" class="underline-one">Последние вакансии</a></li>
        </ul>
    </nav>

    <h2>Frontend-программист</h2>

    <div class="description">
        <b>Frontend - программист</b> является важным звеном в создании веб-приложений и сайтов. Он отвечает за разработку
        пользовательского интерфейса (UI) и пользовательского опыта (UX), которые являются ключевыми для успешности
        проекта.
        Frontend-программист работает над созданием интерактивных и отзывчивых веб-приложений, которые позволяют
        пользователям взаимодействовать
        с контентом, просматривать информацию и выполнять различные задачи.
    </div>

    <div class="description">
        Роль Frontend-программиста включает в себя создание и поддержку веб-страниц и веб-приложений на основе
        предоставленных дизайнерами макетов. Он использует языки программирования, такие как <b>HTML, CSS и JavaScript</b>, для
        создания интуитивного и эстетически привлекательного пользовательского интерфейса. Frontend-программист также
        работает с библиотеками и фреймворками, такими как React, Angular или Vue.js, для создания более масштабируемых
        и модульных приложений.
    </div>

    <img class="frontend" src="static/frontend.jpg">

    <div class="description">
        Один из основных навыков Frontend-программиста - владение <b>HTML</b>, языком разметки, который определяет структуру
        веб-страниц. Фронтэнд-программист должен знать основные элементы HTML, как использовать атрибуты и теги, и как
        создавать разметку, которая корректно отображается на разных устройствах и браузерах.
    </div>

    <div class="description">
        <b>CSS</b> - еще один важный инструмент для Frontend-программиста. Он используется для стилизации веб-страниц и
        придания им визуального оформления. Знание CSS позволяет задавать цвета, шрифты, расположение элементов на
        странице и создавать анимации. Важной частью CSS является понимание адаптивного дизайна и создание
        кросс-браузерных стилей для обеспечения правильного отображения на всех устройствах и браузерах.
    </div>

    <div class="description">
        <b>JavaScript</b> - третий основной инструмент Frontend-программиста. Он используется для создания интерактивных
        элементов на веб-страницах и управления поведением пользовательского интерфейса. Frontend-программист должен
        знать основы JavaScript, такие как переменные, функции и циклы, а также понимать концепции
        объектно-ориентированного программирования (ООП).
    </div>

    <div class="description">
        Кроме основных языков программирования, Frontend-программист должен быть знаком с расширениями и инструментами,
        которые облегчают его работу. Это могут быть такие инструменты, как препроцессоры CSS (например, Sass или Less),
        сборщики модулей (например, Webpack или Rollup) и инструменты для отладки и тестирования.
    </div>

    <footer>
        <p>ФИО: Голубев Илья Дмитриевич</p>
        <p>Академическая группа: РИ-220934</p>
    </footer>
</body>

</html>